$light-grey: #fafafa;

//placeholder classes
.component-setup {
  border-right: 1px solid $light-grey;
  height:100vh;
}

.overflow-y {
  overflow-y: auto;
  height: inherit;
}

.small-author-image {
  height: 33px;
  width: 33px;
  border-radius: 50%;
}

// application custom rules
.App {
  &__contacts {
    @extend .component-setup;

    &_list {
      @extend .overflow-y;
    }

    &_item {
      height:100px;

      &:hover {
        background-color: $light-grey;
      }

      &_contact-image {
        height: 90px;
        width: 90px;
        border-radius: 50%;
        min-width: 90px;
      }

      &_uploaded-image {
        max-height: 40px;
        max-width: 40px;
        border-radius: 5px;
      }
    }
  }

  &__chats {
    @extend .component-setup;

    &_contact img {
      @extend .small-author-image;
    }

    &_message {
      @extend .overflow-y;

      &_date {
        font-size: 10px;
        font-style: italic;
      }

      &_message-width {
        max-width: 60%;
      }

      &_user-image {
        @extend .small-author-image;
      }

      &_my-image {
        @extend .small-author-image;

        min-width: 33px;
        background-color: lightgrey;
        font-weight: bold;
        color: lightslategray;
        text-align: center;
        line-height: 32px;
      }

      &_loaded-image {
        max-width: 300px;
        max-height: 300px;
      }
    }

    &_new-message.input-group {
      height: 60px;

      textarea {
        height: 40px;
      }

      input[type="file"] {
        display: none;
      }
    }
  }

  &__new-chat {
    @extend .component-setup;
  }
}

@import "~bootstrap/scss/bootstrap";
